/* setup generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}

/* utility */

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(255, 9, 9);
  border: 2px rgb(22, 1, 140);
}

.border {
  border: 2px dashed black;
}

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Generali */

body {
  background-color: gray;
}

section {
  margin-bottom: 3rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class^="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

p {
  line-height: 2rem;
}

.giallo {
  color: #f69e3d;
}

.grigio {
  color: lightgray;
}

.bolder {
  font-weight: 700;
}

/* header */

header {
  background-color: white;
  min-height: 4rem;
  padding-top: 1rem;
}

/* how-to-do */

.col-video {
  width: calc(100%);
}
.col-recipe {
  width: calc(100%);
}

.how-to-do .container {
  background-color: white;
}

.how-to-do li {
  padding: 0.5rem 0;
}

/* fine how to do */

/* icons */

.icons .container {
  display: flex;
  justify-content: space-around;
}
.icons .container i {
  background-color: white;
  background-size: auto;
  min-width: 3rem;
  min-height: 2rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  border-radius: 20px;
}

/* fine icons */

/* presentation */

.giallo {
  margin-bottom: 1rem;
}

.description img {
  max-width: 70%;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  font-size: 1.3rem;
}

/* fine presentation */

/* footer */

footer {
  color: white;
  line-height: 2rem;
}

.footer .row {
  flex-direction: column;
  align-items: center;
}

.footer-top {
  text-align: center;
}

.footer-bottom ul {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.footer-bottom li {
  display: inline-block;
  padding: 0 1rem;
  min-width: 25%;
}

/* fine footer */

/* Responsive */

/* da 769px a 991px */

@media screen and (min-width: 769px) {
  .container {
    max-width: 900px;
  }

  /* how-to-do  medium */

  h1 {
    text-align: left;
  }
  .how-to-do .row {
    padding-left: 4rem;
  }
  .how-to-do .hidden {
    display: inline;
  }
  .how-to-do h3 {
    margin-bottom: 2rem;
  }
  .how-to-do ul {
    display: flex;
    flex-wrap: wrap;
  }
  .how-to-do li {
    min-width: calc(100% / 3);
    margin-bottom: 2rem;
  }
}

/* da 993px a infinito */
