/* setup generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}

.debug * {
  min-height: 100px;
  padding: 5px;
  background-color: rgb(255, 9, 9);
  border: 2px rgb(22, 1, 140);
}

.border {
  border: 2px dashed black;
}
/* /setup generali */

/* utility */
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* row-columns */

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

[class^="col"] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.col-1-1 {
  width: calc(100%);
}

.col-1-3 {
  width: calc(100% / 3);
}

/* fine row-columns */
